.tableDiv{
  overflow-x: scroll;
}
.ms-n5 {
    margin-left: -40px;
}
.grey-bg {  
    background-color: #F5F7FA;
}
label{
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
}

.font-sm{
    font-size: small;
}